@media (min-width: 46.25em) and (max-width: 63.9375em) { 
    .info-link {
        font-size: 12px;
    }
    .tab-item {
        line-height: 20px;
    }
    
}
@media (max-width: 46.1875em) {
    .header__navbar-list li {
        display: block;
    }
    .header__navbar-list li {
        padding: 6px 4px;
    }
}